# Uber Trip Data Analysis of Sep-2014

### Importing Libraries

In [1]:
import pandas as pd
import seaborn as sns

### Importing DataSet

In [2]:
data = pd.read_csv("uber-raw-data-sep14.csv")
data.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [3]:
data["Date/Time"]

0            9/1/2014 0:01:00
1            9/1/2014 0:01:00
2            9/1/2014 0:03:00
3            9/1/2014 0:06:00
4            9/1/2014 0:11:00
                  ...
1028131    9/30/2014 22:57:00
1028132    9/30/2014 22:57:00
1028133    9/30/2014 22:58:00
1028134    9/30/2014 22:58:00
1028135    9/30/2014 22:58:00
Name: Date/Time, Length: 1028136, dtype: object

### Data Clean

In [7]:
data.describe()

                Lat           Lon
count  1.028136e+06  1.028136e+06
mean   4.073922e+01 -7.397182e+01
std    4.082861e-02  5.831413e-02
min    3.998970e+01 -7.477360e+01
25%    4.072040e+01 -7.399620e+01
50%    4.074180e+01 -7.398310e+01
75%    4.076120e+01 -7.396280e+01
max    4.134760e+01 -7.271630e+01

In [4]:
data.isnull()

         Date/Time    Lat    Lon   Base
0            False  False  False  False
1            False  False  False  False
2            False  False  False  False
3            False  False  False  False
4            False  False  False  False
...            ...    ...    ...    ...
1028131      False  False  False  False
1028132      False  False  False  False
1028133      False  False  False  False
1028134      False  False  False  False
1028135      False  False  False  False

[1028136 rows x 4 columns]

In [6]:
data.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

There is not a single value missing in "Data" dataset. so , No need to perform any cleaning operations

### Data Manipulation

In [ ]:
#Date/Time is in string format and in complex form to analyse. So change in Pandas Date and Time format  
data["Date/Time"] = data["Date/Time"].map(pd.to_datetime)

In [ ]:
data.head(10)

In [ ]:
#In new column "DOM" of dataset getting the Day of the Month  
def get_dom(dt):
    return dt.day
data['DOM'] = data["Date/Time"].map(get_dom)

In [ ]:
data.iloc[12223]

In [ ]:
#In new column "Weekday" of dataset getting the Weekday 
def get_weekday(dt):
    return dt.weekday()
data["Weekday"] = data["Date/Time"].map(get_weekday)

In [ ]:
data.tail(2225)

In [ ]:
#In new column "Hour" of dataset getting the Hour 
def get_hour(dt):
    return dt.hour
data["Hour"] = data["Date/Time"].map(get_hour)

In [ ]:
data

### Data Visualiztion

#### analyze the DOM

In [ ]:
hist(data.dom , bins = 30)